:root {
    --background-color-light: #f0f0f0;
    --background-color-dark: #333;
    --text-color-light: #333;
    --text-color-dark: #f0f0f0;
    --active-tab-color: #5f79b7;
    --inactive-tab-color: #ddd;
    --slider-thumb-color: #5f79b7;
    --slider-track-color: #ccc;
    --tab-hover-color: #a6b8d4;
}




.sidebar-metrics {
    position: fixed;
    top: 70px;
    left: -30%;
    width: 30%;
    height: calc(100% - 70px);
    transition: left 0.3s ease;

    z-index: 1000;

}

.sidebar-metrics-open {
    left: 0;
}

.sidebar-metrics-toggle {
    position: absolute;
    top: 50%;
    right: -30px;
    padding: 10px;
    background-color: var(--background-color2);
    color: rgba(13, 221, 218, 1);
    border: none;
    cursor: pointer;
}


.dark-mode {
    color: var(--text-color-dark);
}

.light-mode {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}



.light-mode .PropText-metrics {
    color: var(--text-color-light);
}


.box-metrics {
    width: 290px;
    position: relative;
    margin-left: 10px;
}

.navbar-list-metrics {
    margin-top: 50px;
    font-family: "metropolis-regular", sans-serif;
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap onto multiple rows */
    justify-content: center;
}

.navbar-item-metrics {
    /* Adjust width as needed based on the number of items per row */
    width: calc(100% / 3);
    /* Assuming 3 items per row */
    box-sizing: border-box;
    /* Ensure padding and borders are included in the width */
    margin-bottom: 5px;
    display: flex;
    /* Enable flexbox layout */
    justify-content: center;
    /* Center the content horizontally */
    align-items: center;
    /* Center the content vertically */
    text-align: center;
    /* Center the text horizontally */
}

.navbar-item-metrics:last-child {
    margin-right: 0;
}

.navbar-item-metrics button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: var(--text-color-dark);
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease;

}

.light-mode .navbar-item-metrics button {
    color: var(--text-color-light);
}

.navbar-item-metrics button:hover {
    background-color: var(--tab-hover-color);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-item-metrics.active button {
    background-color: #0c8b89;
    color: #fff;
    border-color: #0dddda;
}

.metrics-container {
    width: 70%;
    margin: 10% 10%;
}





.light-mode .slider-item label {
    color: var(--text-color-light);
}

.slider-item span {
    font-family: "metropolis-semibold", sans-serif;
    font-size: 0.8rem;
    color: var(--text-color-dark);
    text-align: center;
}

.light-mode .slider-item span {
    color: var(--text-color-light);
}

.slider-container2 {
    align-items: center;
    height: 4rem;
    border: 1px solid #ccc;
    padding: 10px 50px;
    border-radius: 10px;
    margin-bottom: 3%;
    width: 100%;
    margin-left: -5%;
    margin-right: 5%;

}



.slider-container2 .MuiSlider-root {
    color: #475569;
}




.dark-mode .slider-container2 .MuiSlider-thumb {
    background-color: #2d2d2d;
    border: 1px solid #f5f6f7;
    width: 1.5rem;
    height: 1.5rem;
}

.dark-mode .slider-container2 .MuiSlider-track {
    background-color: #475569;
}

.dark-mode .slider-container2 .MuiSlider-rail {
    background-color: #ffffff;
}



.light-mode .slider-container2 .MuiSlider-thumb {
    background-color: #fff;
    border: 1px solid #000000;
    width: 1.5rem;
    height: 1.5rem;
}

.light-mode .slider-container2 .MuiSlider-track {
    background-color: #475569;
}

.light-mode .slider-container2 .MuiSlider-rail {
    background-color: #6886a8;
}



.metricspage-buttons-sections{
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.metricspage-buttons-sections button{
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.2rem;
    display: flex;
    height: 35px;
    width: 130px;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    background-color: #0dddda; 
    color: var(--button-text-color); 
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s; 
  }
  
 .metricspage-buttons-sections button:hover {
    background-color: #157a78;
  }