
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4; 
    z-index: 9998;
}

.loadingModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18em;
    height: 10rem;
    display: flex;
    flex-direction: column;
    border-radius: 56px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(13, 221, 218, 1) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: var(--background-color);
    z-index: 9999;
    font-family:'Space Mono Bold 700', sans-serif ;
}

.loader-circle2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid var(--blacktowhite);
    border-top: 3px solid transparent;
    animation: spin 1s linear infinite;
}

.loader-title2 {
    color: var(--blacktowhite);
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}