.layout-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.media-column-container {
  flex: 1;
  overflow-y: auto;
}

.data-column-container {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.residenceWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.residenceImages {
  display: flex;
  flex-wrap: wrap;
}

.residenceImgWrapper {
  width: 48%;
  padding: 5px;
}

.residenceImgWrapper.main {
  width: 100%;
  padding: 5px;
}

.residenceImg {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.residenceTitle {
  font-size: 24px;
  padding-top: 10%;
  font-weight: 500;
}

.residenceAddress {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.residencePriceHighlight {
  color: #008009;
  font-weight: 500;
}

.residenceDetails2 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.source-text{
  margin-top: 2%;
  font-size: 12px;
  color: #9d9a9a;
}

.walkDetails {
  background-color: #333;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.light-mode .walkDetails {
  background-color: #f0f0f0;
}

.residenceDetailsTexts {
  flex: 3;
}

.residenceDesc {
  font-size: 14px;
  margin-top: 20px;
  text-align-last: left;
}

.roomList {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.roomListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.roomImageContainer {
  display: flex;
  align-items: center;
  flex: 1;
}

.roomListImage {
  width: 80px;
  height: auto;
  border-radius: 4px;
  margin-right: 15px;
}

.roomName {
  font-size: 1em;
  flex-shrink: 0;
}

.roomDetails {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.roomDetail {
  margin: 5px 0;
  color: #9d9a9a;
}

.light-mode .roomDetail {
  color: #555;
}

.roomPrice {
  flex-shrink: 0;
  font-size: 1.2em;
  color: #0071c2;
  font-weight: bold;
  padding-left: 15px;
}

.roomListItem.unavailable .roomPrice {
  color: #b3b3b3;
  font-style: italic;
}

.residenceDetailsPrice {
  flex: 1;
  background-color: whitesmoke;
  border: 3px solid #0dddda;
  color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  height: 100%;
}

.light-mode .residenceDetailsPrice {
  background-color: rgba(202, 240, 241, 0.47);
}

.residenceDetailsPrice>h1 {
  font-size: 18px;
  color: #555;
}

.residenceDetailsPrice>span {
  font-size: 14px;
}

.residenceDetailsPrice>h2 {
  font-weight: 300;
}

.residenceDetailsPrice .priceAll {
  font-weight: bold;
}

.residenceDetailsPrice .price-display {
  font-size: 24px;
  font-weight: bold; 
  color: #0071c2;
}

.residenceDetailsPrice>button {
  border: none;
  padding: 10px 20px;
  background-color: #0dddda;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}

.ownerDetails {
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  display: block;
}

.ownerDetails.visible {
  max-height: 500px;
  opacity: 1;
}

.slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.613);
  z-index: 999;
  display: flex;
  align-items: center;
}

.sliderWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderImg {
  width: 80%;
  height: 80vh;
}

.close {
  position: absolute;
  top: 15%;
  right: 1%;
  font-size: 30px;
  color: lightgray;
  cursor: pointer;
}

.arrow {
  margin: 20px;
  font-size: 50px;
  color: lightgray;
  cursor: pointer;
}
